<div class="cards-item">
  <div class="cards-panel cards-text-original">
    <%= @card.original_text %>
  </div>
  <%= form_tag check_card_path, class: "check-card" do %>
    <div class="cards-panel cards-text-translated">
      <%= hidden_field_tag :id, @card.id %>
      <%= text_field_tag :user_text, nil, placeholder: "Введите перевод" %>
    </div>
    <div class="cards-panel">
      <%= submit_tag "Проверить", class: "btn btn-md btn-primary" %>
    </div>
  <% end %>
</div>
